^ContentPage {
    /*background-color: #e8f5f5;*/  
}

#stacklayontGlobal {
    /*background-color: #e8f5f5;*/
}

.gridMain, #stacklayontDigits {
    /* background-color: #24427a;*/
    /*background-color: #e8f5f5;*/
}

#labelCurrentCurrencyRate, #labelCurrentCurrencyRate2, #labelUpdateDate {
    color: #182d54;  
}

.UpadteLabel {
    color: #182d54;
}

.TitleStyle {
    color: #0094ff;
}
#stackLayontCurrencyOne {
    color: #0094ff;
}

#stackLayontCurrencyTwo {
    color: #0094ff;
}


/*#buttonInfo {
    background-color: #e8f5f5;
    color: #729ff7;    
}*/
